/**
 * @file:
 * @FileName: detail.less
 * @author: shangwenhe@baidu.com
 * @date: 2015-08-14  11:02
 * @description: this is a new file
 */


.mod-detail{
    .word-info{}
    .rand-word{
       height: 30px;
        width: 80px;
        margin: 0 auto;
       background:url(./shuffle.png) no-repeat center center; 
       background-size: auto 29px;
       opacity: 0.7;
    }
}
