<div class="detail">
    <% if(data.length){ %>
    <% data.forEach(function(item){  %>
		<article class='detail-info'>
			<div class="detail-name">
			<h2><%= item.name%><i>浏览<%=item.views%>次</i><span> <%= item.sound%>	</span></h2>
			<p class='analysis'>解析：<%= item.analysis%>	</p>
			<span class='share'>分享</a>
			</div>
			<% if(item.fromto){ %>
			<div class='fromto'><div>出处</div><p><%= item.fromto%></p></div>
			<% } %>
			<% if(item.sample){ %>
			<div class='sample'><div>举例说明</div><p><%- item.sample -%></p></div>
			<% } %>
		</article>
    <% }) %>
    <% } %>
</div>
