/**
 * @file:
 * @FileName: list.less
 * @author: shangwenhe@baidu.com
 * @date: 2015-08-15  22:54
 * @description: this is a new file
 */

.mod-list {
    .detail-info {
        text-align: left;
        line-height: 2.5em;
        font-family: '微软雅黑';
        h2 {
            font-size: 1.3em;
                color: #fff;
            span {
                display: block;
                font-size: 0.5em;
            }
        }
        .detail-name,
        .fromto,
        .sample {
            margin: 1em;
        }
        .detail-name {
            background: #07b2d9;
            color: #fff;
            border-radius: 2px;
            position: relative;
            h2 {
                padding: 0.4em 0.8em 0.2em;
                i {
                    font-size: 0.4em;
                    font-style: normal;
                    margin-left: 0.5em;
                    color: #90E0F2;
                }
            }
            .analysis {
                background: #fff;
                color: #666;
                padding: 0.8em;
            }
            .link-icon{
                position: absolute;
                right: 17px;
                top: 15px;
                opacity: 0.7;
            }
        }
    }
}
