<!--  admin.tmpl -->
<div class='admin-tmpl'>
    <form method='POST' action="/taobao/postdata" >
        标题：<input type='input' name='name'><br />
        副标题：<input type='input' name='alias' /><br />
        图片：<input type='file' name='name' /><br />
        描述：<textarea name='describe'> </textarea><br />
        排序：<input type='input' name='sort'><br />
        备注：<textarea name='marks'> </textarea><br />
        <input type="submit" /><br />
    </form>

</div>



