/**
 * @file:
 * @FileName: detail.less
 * @author: shangwenhe@baidu.com
 * @date: 2015-08-14  11:02
 * @description: this is a new file
 */
.mod-detail {
  padding-bottom: 50px;
}
.mod-detail .word-info .detail-info {
  text-align: left;
  line-height: 2.5em;
  font-family: '微软雅黑';
}
.mod-detail .word-info .detail-info h2 {
  font-size: 2em;
}
.mod-detail .word-info .detail-info h2 span {
  display: block;
  font-size: 0.5em;
}
.mod-detail .word-info .detail-info .detail-name,
.mod-detail .word-info .detail-info .fromto,
.mod-detail .word-info .detail-info .sample {
  margin: 1em;
}
.mod-detail .word-info .detail-info .detail-name {
  background: #07b2d9;
  color: #fff;
  border-radius: 2px;
  position: relative;
}
.mod-detail .word-info .detail-info .detail-name h2 {
  padding: 0.4em 0.4em 0.2em;
}
.mod-detail .word-info .detail-info .detail-name h2 i {
  font-size: 0.4em;
  font-style: normal;
  margin-left: 0.5em;
  color: #90E0F2;
}
.mod-detail .word-info .detail-info .detail-name .analysis {
  background: #06acd6;
  padding: 0.8em;
}
.mod-detail .word-info .detail-info .detail-name .share {
  position: absolute;
  right: 0.8em;
  top: 0.8em;
  background: url('./widget/detail/share_d00051d.png') no-repeat center center;
  display: block;
  width: 3em;
  height: 3em;
  background-size: 2.5em auto;
  color: transparent;
}
.mod-detail .word-info .detail-info .fromto,
.mod-detail .word-info .detail-info .sample {
  padding: 0.8em;
  background: #fff;
  border-radius: 2px;
}
.mod-detail .word-info .detail-info .fromto div,
.mod-detail .word-info .detail-info .sample div {
  color: #42bf9d;
  border-bottom: 1px solid #dfdfe0;
}
.mod-detail .rand-word {
  height: 30px;
  width: 80px;
  margin: 0 auto;
  background: url(./widget/detail/shuffle_0a5143b.png) no-repeat center bottom;
  background-size: 52px 21px;
  opacity: 0.7;
  line-height: 30px;
  text-align: center;
  padding-bottom: 1.1em;
  color: #999;
}
