/**
 * @file:
 * @FileName: index.less
 * @author: shangwenhe@baidu.com
 * @date: 2015-08-14  08:56
 * @description: this is a new file
 */

body {
    background-color: #f2f2f2;
}
.mod-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .mod-log {
        width: 50px;
        margin-left: 38px;
        height: 45px;
        text-align: center;
        color: #fff;
        font: 200 20px/45px'微软雅黑';
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
}
.mod-con {
    padding-top: 50px;
    &-head {
        position: relative;
    }
}
.mod-float {
    display: block;
}
.warp-section {
    margin: 1em;
}
.mod-section {
    padding: 0.8em;
    background-color: #fff;
    border-radius: 2px;
    .section-head {
        h2 {
            color: #06acd6;
            font-size: 16px;
            height: 30px;
            line-height: 30px;
        }
        border-bottom:1px solid #dfdfe0;
    }
    .section-con {} .section-foot {}
}
