/**
 * @file:
 * @FileName: wordlen.less
 * @author: shangwenhe@baidu.com
 * @date: 2015-08-17  06:28
 * @description: this is a new file
 */
.wordlen {
  width: 100%;
  padding: 0.8em;
  box-sizing: border-box;
}
.wordlen dd {
  display: box;
  box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wordlen dd a {
  box-flex: 1;
  -webkit-box-flex: 1;
  display: block;
  text-align: center;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  background: #fff;
  margin: 1px;
  color: #42bf9d;
  font-family: '微软雅黑';
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
}
