<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%=title%>-随手成语</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="成语大全可方便的查阅各类成语如四字成语、成语故事、成语接龙、描写人物的成语等，每个成语都带有成语解释，本站成语词典分类详尽，是学习成语的好助手。" />
    <meta content="成语,成语大全,四字成语,成语故事,成语接龙,成语词典" name="KeyWords" /> 
    <link rel="shortcut icon" href="./page/icon_c96d7ee.png" type="image/png" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="wap-font-scale" content="no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="telephone=no" name="format-detection">

    <link rel="stylesheet" type="text/css" href="./static/reset.css" />
    <link rel="stylesheet" type="text/css" href="./widget/topbar/topbar.css" />
    <link rel="stylesheet" type="text/css" href="./widget/search/search.css" />
    <link rel="stylesheet" type="text/css" href="./widget/replace/replace.css" />
    <link rel="stylesheet" type="text/css" href="./widget/detail/detail.css" />
    <link rel="stylesheet" type="text/css" href="./widget/wordlen/wordlen.css" />
    <link rel="stylesheet" type="text/css" href="./widget/share/nativeShare/nativeShare.css" />
    <link rel="stylesheet" type="text/css" href="./widget/share/share.css" />
    <link rel="stylesheet" type="text/css" href="./static/page/index.css" />
    <link rel="stylesheet" type="text/css" href="./widget/nav/nav.css" />
    <link rel="stylesheet" type="text/css" href="./widget/hotkey/hotkey.css" />
</head>

<body>    <div class="mod-head">
        <!--
    @require 'chengyu:widget/topbar/topbar.less'
    @require 'chengyu:widget/topbar/topbar.js'
-->
<div class="topbar">
    <!-- 导航 --><div class="mod-nav">
    <div class="nav-bar">
    </div>
    <nav></nav>
</div>

    <div class="mod-log">成语</div>
    <div class="search">
        <!--
    @require 'chengyu:widget/search/search.less'
    @require 'chengyu:widget/search/search.js'
-->

<div class="mod-search">

    <div class="search-box">
        <input placeholder='字母全拼搜索' type="" class="search-value">
    </div>
    <ul class='sugge'>
    </ul>
</div>
    </div>
</div>
    </div>
    <div class="mod-con">
        <div class="mod-con-head"><a class="mod-hotkey" href='./page.html?page=1'>
    热门推荐
</a>

            <!--
    @require "chengyu:widget/replace/replace.less"
-->

<div class='replace'>换一换</div>

        </div>
        <!--
    @require "chengyu:widget/detail/detail.less"
    @require "chengyu:widget/detail/detail.js"
-->


<div class="mod-detail">
    <div class="word-info">
        <!-- link rel="import" href="./detailinner.html?__inline" -->
    </div>
    <div class="rand-word">
        随便看看
    </div>
</div>
    </div>
    <div class="mod-float"></div>
    
<!--
@require 'chengyu:widget/wordlen/wordlen.less'
-->
<dl class='wordlen'>
    <dd>
        <a href='http://www.yiajie.com/page.html?page=1&wl=3'>叁字成语</a>
        <a href='http://www.yiajie.com/page.html?page=1&wl=4'>肆字成语</a>
        <a href='http://www.yiajie.com/page.html?page=1&wl=5'>伍字成语</a>
    </dd>
    <dd>
        <a href='http://www.yiajie.com/page.html?page=1&wl=6'>陆字成语</a>
        <a href='http://www.yiajie.com/page.html?page=1&wl=7'>柒字成语</a>
        <a href='http://www.yiajie.com/page.html?page=1&wl=8'>捌字成语</a>
    </dd>
</dl>


    <!--
    @require 'chengyu:widget/share/share.less'
    @require 'chengyu:widget/share/share.js'
    -->
<div class="mod-share">
    <div class="bdsharebuttonbox">
        <h2>分享到：</h2>
        <span class='close-share'></span>
        <ul>
            <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
            <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
            <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></li>
            <li><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a></li>
            <li><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></li>
            <li><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></li>
        </li>
    </div>
    <div id='nativeShare'></div>
</div>

<script type="text/javascript" src="./static/mod/mod.js"></script>
<script type="text/javascript" src="./components/jquery/jquery.js"></script>
<script type="text/javascript" src="./components/underscore/underscore.js"></script>
<script type="text/javascript" src="./static/Event/Event.js"></script>
<script type="text/javascript" src="./widget/topbar/topbar.js"></script>
<script type="text/javascript" src="./widget/search/search.js"></script>
<script type="text/javascript" src="./widget/detail/detail.js"></script>
<script type="text/javascript" src="./widget/share/nativeShare/nativeShare.js"></script>
<script type="text/javascript" src="./widget/share/share.js"></script>
<script type="text/javascript">
    require.async(['chengyu:widget/search/search'], function (search){
        search.init();
    });


    require.async(['chengyu:widget/topbar/topbar'], function (t) {
        t()
    });


    require.async(["chengyu:widget/detail/detail"],function(detail){
       detail(); 
    });


    window._bd_share_config = {
        "common": {
            "bdSnsKey":{},
            "bdText": "成语大全,好用,更能学到好多东西知识~",
            "bdPic": "http://v6.yiajie.com/page/icon.png",
            "bdStyle": "0",
            "bdSize": "32",
            "bdUrl":''
        },
        "share":{
            "bdPic": "http://v6.yiajie.com/page/icon.png"
        }
    };
    with(document)
    0[(getElementsByTagName('head')[0] || body).appendChild(
        createElement('script')
    ).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];


    var _hmt = _hmt || [];
    (function ()
    {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?6c52e272bc16418914b02e46191ab413";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    require.async(['chengyu:widget/share/share'],function(share){
        share('.share'); 
    });
</script>
</body>

</html>
