/**
 * @file:
 * @FileName: replace.less
 * @author: shangwenhe@baidu.com
 * @date: 2015-08-15  02:42
 * @description: this is a new file
 */
.replace {
  background: url(./widget/replace/huanhuan_b6b774a.png) no-repeat 3px center;
  background-size: 16px auto;
  padding: 5px 0 5px 26px;
  position: absolute;
  right: 13px;
  top: 2px;
  color: #999;
}
