<% $.each(sug, function(index, item){ %>
        <li>
			<span><%= item.views%>人查看</span>
            <a href='http://www.yiajie.com/?name=<%=item.name%>'><%= item.name %></a> 
        </li>
<% }) %>
